### UNITY ###
# Excluding every file
*.*

# Excluding specific directories
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Including .gitignore
!.gitignore

# Including scripts
!*.cs
!*.cs.meta

# Including LICENSE and README
!README.md
!LICENSE.txt